
.container{
  padding: 16px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contentTitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .title {
    font-size: 58px;
    font-weight: 700;
    line-height: 60px;
  }
}

.content  {
  display: flex;
  flex-direction: column;
  gap: 15px;
  p {
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    color: #000000
  }
}
.text {
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  color: #000000
}

.span{
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  color: #00000033
}

@media (max-width: 1024px) {
  .container {
    padding: 16px 25px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px 0;
  }
  .title {
    font-size: 32px !important;
    line-height: 40px !important;
  }

}

@media (max-width: 480px) {
  .title {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  .content p, .text {
      font-size: 16px;
      line-height: 20px;
  }
}