@import "../../variables";

.container{
  padding: 16px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contentTitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .title {
    font-size: $fs-58;
    font-weight: $fw-700;
    line-height: $lh-600;
  }
}

.content  {
  display: flex;
  flex-direction: column;
  gap: 15px;
  p {
    font-size: $fs-25;
    font-weight: $fw-400;
    line-height: $lh-299;
    color: $black-color;
  }
}
.text {
  font-size: $fs-25;
  font-weight: $fw-400;
  line-height: $lh-299;
  color: $black-color;
}

.span{
  font-size: $fs-12;
  font-weight: $fw-700;
  line-height: $lh-156;
  color: $black-light-color;
}

@media (max-width: $break-lg) {
  .container {
    padding: 16px 25px;
  }
}

@media (max-width: $break-md) {
  .container {
    padding: 16px 0;
  }
  .title {
    font-size: $fs-33 !important;
    line-height: $lh-429 !important;
  }

}

@media (max-width: $break-sm) {
  .content p, .text {
      font-size: $fs-15;
      line-height: $lh-200;
  }
}