@import "../../app/variables";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
  article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  a{
    color: $link-color;
    text-decoration: underline;
  }
  h2 {
    font-size: $fs-58;
    font-weight: $fw-700;
    line-height: $lh-600;
    color: $black-color
  }
  .p {
    font-size: $fs-25;
    font-weight: $fw-400;
    line-height: $lh-299;
    color: $black-color
  }

}

