// Colors variables
$black-color: #000000;
$black-light-color: #00000033;
$red-color: #FF2D2D;
$blue-color: #24538B;
$green-color:#248B28;
$primary-color: #FFBD14;
$gray-color: #EBEFF1;
$link-color: #4493F8;

// Breakpoints variables
$break-lg: 1024px;
$break-md: 768px;
$break-sm: 480px;
$break-xs: 320px;

// Font Size variables
$fs-58: 58px;
$fs-33: 33px;
$fs-25: 25px;
$fs-23: 23px;
$fs-20: 20px;
$fs-15: 15px;
$fs-12: 12px;

// Font Weight variables
$fw-700: 700;
$fw-400: 400;

// Line Height variables
$lh-600: 60px;
$lh-429: 42.9px;
$lh-299: 29.9px;
$lh-260: 26px;
$lh-200: 20px;
$lh-156: 15.6px;