// Colors variables
$black-color: #000000;
$black-light-color: #00000033;
$red-color: #FF2D2D;
$blue-color: #24538B;
$green-color:#248B28;
$primary-color: #FFBD14;
$gray-color: #EBEFF1;
$link-color: #4493F8;

// Breakpoints variables
$break-lg: 1024px;
$break-md: 768px;
$break-sm: 480px;
$break-xs: 320px;

