.text {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  text-transform: uppercase;
  color: #000000
}

.economia {
  color: #FF2D2D !important;
}
.educacao {
  color: #24538B !important;
}
.diversidades {
  color:#248B28 !important;
}
