@import "../../app/variables";

.text {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  text-transform: uppercase;
  color: $black-color
}

.economia {
  color: $red-color !important;
}
.educacao {
  color: $blue-color !important;
}
.diversidades {
  color:$green-color !important;
}
