.text {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  text-transform: uppercase;
}

.economia {
  color: #FF2D2D
}
.educacao {
  color: #24538B
}
.diversidades {
  color:#248B28
}
.default {
  color: #000000
}