.title{
  font-size: 58px;
  font-weight: 700;
  line-height: 60px;
  color: #000000
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}