@import "../../app/variables";

.title{
  font-size: $fs-58;
  font-weight: $fw-700;
  line-height: $lh-600;
  color: $black-color
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

@media (max-width: $break-md) {
  .title{
    font-size: $fs-33;
    line-height: $lh-429;
  }
}
